In [37]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error
from math import sqrt as sqrt
from sklearn.linear_model import LinearRegression

In [38]:
#Data Preprocessing
dff = pd.read_csv('/lois_continuous.csv')
print(df.head())
df=dff[dff["SITE_NAME"]=="Swale at Catterick Bridge"]

df = df.drop(columns=['FID', 'ID', 'SITE_NAME', 'DATE'])

temperature_col = 'Temperature water continuous'
oxygen_col = 'Oxygen dissolved continuous'
df = df[[temperature_col, oxygen_col]]

df = df.dropna()

X = df[[temperature_col]].values
y = df[oxygen_col].values

   Temperature water continuous  Oxygen dissolved continuous
0                          16.8                        102.2
1                          17.2                        105.8
2                          17.5                        107.0
3                          17.9                        108.7
4                          18.3                        110.2

In [39]:
model=LinearRegression()
model.fit(x_train,y_train)
y_pred=model.predict(x_test)

In [40]:
mse=mean_squared_error(y_test,y_pred)
print("Mean Squared Error=",mse)
print("Root Mean Squared Error=",sqrt(mse))

Mean Squared Error= 77.10182004808098
Root Mean Squared Error= 8.780764206382095